{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h1 class="text-center text-info">Chào mừng bạn đến trang quản trị</h1>
{% else %}
<form method="post" action="/admin/login">
    <div class="form-group">
        <label>Username:</label>
        <input class="form-control" name="username">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}
{% endblock %}
