{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Dịch vụ của chúng tôi</h6>
            <h1 class="mb-5">Khám phá <span class="text-primary text-uppercase">dịch vụ</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-hotel fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Rooms & Appartment</h5>
                    <p class="text-body mb-0">Nơi khách hàng được trải nghiệm sự thoải mái và tiện nghi nhất.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Food & Restaurant</h5>
                    <p class="text-body mb-0">Nơi khách hàng được thưởng thức những món ăn ngon và trải nghiệm không gian ẩm thực sang trọng.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-spa fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Spa & Fitness</h5>
                    <p class="text-body mb-0">Nơi khách hàng được thư giãn và chăm sóc sức khỏe toàn diện.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-swimmer fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Sports & Gaming</h5>
                    <p class="text-body mb-0">Nơi khách hàng được tận hưởng những giây phút thư giãn và giải trí thú vị.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-glass-cheers fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Event & Party</h5>
                    <p class="text-body mb-0">Nơi biến những ý tưởng của bạn thành hiện thực. </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-dumbbell fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">GYM & Yoga</h5>
                    <p class="text-body mb-0">Nơi khách hàng có thể rèn luyện sức khỏe và thư giãn tinh thần.</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Testimonial Start -->
<div class="container-xxl testimonial my-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="owl-carousel testimonial-carousel py-5">
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Khách sạn Sapphire là một lựa chọn tuyệt vời cho những ai muốn tìm kiếm một nơi nghỉ dưỡng sang trọng
                    và tiện nghi. Phòng khách sạn rộng rãi, có tầm nhìn đẹp và được trang bị đầy đủ tiện nghi. Nhân viên
                    khách sạn chuyên nghiệp, luôn sẵn sàng phục vụ khách hàng. Tôi rất hài lòng với chuyến lưu trú của
                    mình tại khách sạn này</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="static/img/testimonial-3.jpg"
                         style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Anh Đông</h6>
                        <small>Kỹ sư</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Tôi rất hài lòng với chuyến lưu trú của mình tại khách sạn Sapphire. Phòng khách sạn sạch sẽ, thoáng
                    mát và đầy đủ tiện nghi. Nhân viên khách sạn nhiệt tình, chu đáo và luôn sẵn sàng giúp đỡ. Tôi chắc
                    chắn sẽ quay lại khách sạn này trong tương lai.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="static/img/testimonial-2.jpg"
                         style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Anh Khánh</h6>
                        <small>Giám đốc</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Tôi rất ấn tượng với dịch vụ của khách sạn Sapphire. Phòng khách sạn sạch sẽ, gọn gàng và được dọn
                    dẹp thường xuyên. Nhân viên khách sạn thân thiện, nhiệt tình và luôn sẵn sàng giúp đỡ khách hàng.
                    Tôi chắc chắn sẽ giới thiệu khách sạn này cho bạn bè và người thân của mình.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="static/img/testimonial-1.jpg"
                         style="width: 45px; height: 45px;">
                    <div class="ps-3">

                        <h6 class="fw-bold mb-1">Chị Nhung</h6>
                        <small>Người mẫu</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

{% endblock %}
