{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<!-- Testimonial Start -->
<div class="container-xxl testimonial my-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="owl-carousel testimonial-carousel py-5">
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Khách sạn Sapphire là một lựa chọn tuyệt vời cho những ai muốn tìm kiếm một nơi nghỉ dưỡng sang trọng và tiện nghi. Phòng khách sạn rộng rãi, có tầm nhìn đẹp và được trang bị đầy đủ tiện nghi. Nhân viên khách sạn chuyên nghiệp, luôn sẵn sàng phục vụ khách hàng. Tôi rất hài lòng với chuyến lưu trú của mình tại khách sạn này</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="static/img/testimonial-3.jpg"
                         style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Anh Đông</h6>
                        <small>Kỹ sư</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Tôi rất hài lòng với chuyến lưu trú của mình tại khách sạn Sapphire. Phòng khách sạn sạch sẽ, thoáng mát và đầy đủ tiện nghi. Nhân viên khách sạn nhiệt tình, chu đáo và luôn sẵn sàng giúp đỡ. Tôi chắc chắn sẽ quay lại khách sạn này trong tương lai.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="static/img/testimonial-2.jpg"
                         style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Anh Khánh</h6>
                        <small>Giám đốc</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Tôi rất ấn tượng với dịch vụ của khách sạn Sapphire. Phòng khách sạn sạch sẽ, gọn gàng và được dọn dẹp thường xuyên. Nhân viên khách sạn thân thiện, nhiệt tình và luôn sẵn sàng giúp đỡ khách hàng. Tôi chắc chắn sẽ giới thiệu khách sạn này cho bạn bè và người thân của mình.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="static/img/testimonial-1.jpg"
                         style="width: 45px; height: 45px;">
                    <div class="ps-3">

                        <h6 class="fw-bold mb-1">Chị Nhung</h6>
                        <small>Người mẫu</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}
